<h2>ordered item</h2>
<table>
  <thead>
    <tr>  
      <th>Product name</th>
      <th>Amount</th>
      <th>info</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% @products .each do |product|%>
    <tr order_item_id= <%= product.order_items.first.id %> >
        <td><%= product.product_name %></td>
        <td><%= product.product_amount %></td>
        <td><%= product.product_info %></td> 
        <td>
          <%#= select_tag("order_item[status]", options_for_select(OrderItem.statuses, product.order_items.first.status), class:'order-item-status-change') %>
          <%= form_tag("/orders/update_order_item", method: "get") do %>
            <%= select_tag "order_item[status]", options_for_select( OrderItem.statuses, product.order_items.first.status) %>
            <%= hidden_field_tag :order_item_id , product.order_items.first.id %>
            <%= submit_tag("Update") %>
          <% end %>
        </td>
     </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', sellers_path %>