<h2>ordered item</h2>
<table>
  <thead>
    <tr>  
      <th>Product name</th>
      <th>Amount</th>
      <th>info</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product|%>
    <tr order-item-id= <%= product.order_items.first.id %> >
        <td><%= product.product_name %></td>
        <td><%= product.product_amount %></td>
        <td><%= product.product_info %></td> 
        <td>
          <%#= select_tag("order_item[status]", options_for_select(OrderItem.statuses, product.order_items.first.status), class:'order-item-status-change') %>
          <%= form_tag("/order_list", method: "get") do %>
            <%= select_tag "order_item[status]", options_for_select( @statuses.collect {|d| [ d.status, d.status, d.status, d.status, d.status ] }) %>
            <%= submit_tag("Search") %>
          <% end %>
        </td>
     </tr>
  <% end %>
  </tbody>
</table>    
<%= link_to 'Back', sellers_path %>