
<h1>Cart</h1>
<table>
  <thead>
    <tr>  
      <th>Product name</th>
      <th>Product amount</th>
      <th>Product info</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
        <td><%= product.product_name %></td>
        <td><%= product.product_amount %></td>
        <td><%= product.product_info %></td>
        <td><%= link_to 'Show', product %></td>
        <td>
          <% if current_user.carts.where(product_id: product.id).present? %>
            <%= button_to 'Remove_from_cart', remove_from_cart_product_path(product), method: 'delete'  %></td>
          <% end %>
         </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= form_for Order.new, url: orders_create_path  do |f|  %>
  <div class="fields">
    <%= f.label "Paid" %>
    <%#= f.check_box :paid_status, {}, true, false %>
    <%= f.check_box(:paid_status, options = {:checked => true}, checked_value =  true, unchecked_value = false) %>  
    <br>
    <%= hidden_field_tag :product_ids, @products.pluck(:id) %>
  </div>
  <% if @products.present? %>
    <div class="actions">
      <%= f.submit "Place Order", class: "button small radius" %>
    </div>
    <% end %>
<% end %>

<%= link_to 'back', root_path %>



