<!DOCTYPE html>
<html>
  <head>
    <title>Ecom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  </head>
  <nav class="navbar navbar-expand-sm bg-dark navbar-primary">
  <a class="navbar-brand" href="#">ECOM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <% if user_signed_in? %>
            <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-outline-primary" %>
          <% else %>
            <% if controller_name != 'sessions' %>
              <%= button_to "Log in", new_session_path(:user), class: "btn btn-outline-primary btn-sm" %><br />
            <% end %>
          <% end %>
        </a>
      </li>
    </ul>
  </div>
</nav>
<body>
  <%= yield %>
</body>
</html>
